<h1><%= @artist.name %></h1>

<h2>Releases</h2>
<div id="releases">
  <% if @releases.any? %>
    <ul>
      <% @releases.each do |release| %>
        <li>
          <%= link_to release.title, release %> - <%= release.release_type %>, Released on: <%= release.date_of_release.strftime("%B %d, %Y") %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>This artist has no releases yet.</p>
  <% end %>
</div>

<%= form_with model: @artist, method: :delete do |form| %>
  <button type="submit" onclick="return confirm('Are you sure? This will also delete all releases and songs by this artist.')">
    Delete this artist
  </button>
<% end %>

<hr>

<%= link_to "Back to artists", artists_path %>
