<h1><%= @song.title %></h1>

<p>
  <strong>Length:</strong> <%= @song.formatted_length %>
</p>

<p>
  <strong>Song number <%= @song.order_in_release%> on:</strong> <%= link_to @song.release.title, @song.release %>
</p>

<%= link_to "Edit this song", edit_song_path(@song)%>

<hr>

<%= link_to "Back to songs", songs_path %>
